<nav class="navbar navbar-expand-lg navbar-light" style="position: sticky; top: 0; z-index: 100;">
  <a class="navbar-brand" href="/" style="font-family: 'Fascinate', cursive; color: #FE5DC3; font-size: 30px;">BAPFLIX</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="flex ml-auto">
    </div>
  </div>
  <div>
    <div class="flex ml-auto">
      <%= link_to "Movies", movies_path, class: 'btn btn-outline-light my-2 my-sm-0 ml-2' %>
    </div>
  </div>
  <div>
    <div class="flex">
      <%= link_to "Lists", lists_path, class: 'btn btn-outline-light my-2 my-sm-0 ml-2' %>
    </div>
  </div>
</nav>
